<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>
    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
        <link rel="stylesheet" href="{{ asset('css/style.css') }}">
    {% endblock %}
    {% block javascripts %}
        {{ encore_entry_script_tags('app') }}
    {% endblock %}
</head>

    {% block header %}
    <header>
        <nav class="navbar">
            <ul class="navbar-list">
                <li class="navbar-item"><a class="navbar-link" href="{{ path('app_home') }}">Accueil</a></li>
                <li class="navbar-item"><a class="navbar-link" href="{{ path('app_projects') }}">Projets</a></li>
                <li class="navbar-item"><a class="navbar-link" href="{{ path('app_about') }}">Parcours</a></li>
                <li class="navbar-item"><a class="navbar-link" href="{{ path('app_contact') }}">Contact</a></li>
            </ul>
        </nav>
    </header>
    {% endblock %}

    <main id="main-content">
        {% block body %}{% endblock %}
    </main>

    <footer>
        <p>&copy; 2024 - Thomas Grandjean - Technologies : Strapi / Symfony / Vue.js</p>
        <p><a class="footer-link" href="mailto:thomasgrandjean45@gmail.com" target ="_blank">Contactez moi par mail</a></p>
    </footer>

</body>
</html>